@{
    Layout = "~/Shared/Views/_Layoutsinmenu.cshtml";
}
@Styles.Render("~/Content/css")
<div class="container">
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <h3>Aplicativo de Recibo Mercancia</h3>

        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>

<div class="ibox-content">
    <div class="panel-body">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading" data-parent="#accordion" data-toggle="collapse" data-target="#collapseOne">
                    <h4 class="panel-title accordion-toggle">
                        1.-CONSULTAS
                    </h4>

                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-lg-2">
                                <div class="widget style1 navy-bg">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-bus fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-left vertical-align top">
                                            <h3>
                                                <a href="@Url.Action("index", "NuevoApartado")" id="lnkNuevoApartado">
                                                    <span style="color:white;font-size:15px">11.-ARRIBO TPTA</span>
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-parent="#accordion" data-toggle="collapse" data-target="#collapseTwo">
                    <h4 class="panel-title accordion-toggle">
                        2.-REPORTES
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-lg-2">
                                <div class="widget style1 navy-bg">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-reply fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-left vertical-align top">
                                            <h3>
                                                <a href="@Url.Action("index", "NuevoApartado")" id="lnkNuevoApartado">
                                                    <span style="color:white;font-size:15px">21.-AUT. DEVOLUCION</span>
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-parent="#accordion" data-toggle="collapse" data-target="#collapseThree">
                    <h4 class="panel-title accordion-toggle">
                        3.-TERMINAL PORTATIL
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-lg-2">
                                <div class="widget style1 navy-bg">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-file-text-o fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-left vertical-align top">
                                            <h3>

                                                <a href="@Url.Action("Inicio", "Menu")" id="lnkNuevoApartado">
                                                    <span style="color:white;font-size:15px">21.-MENU PRINCIPAL</span>
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>

        <br />
        <div class="row">
            <div class="col-sm-2">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Opcion</span>
                    <input type="text" class="form-control" id="optionSelected5" name="optionSelected5" @*onkeydown="optionSelected_onkeydown(event)"*@ placeholder="Selecciona una opcion" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>


    </div>
</div>

<script src="~/Scripts/angular.js"></script>
<script>

    //$(document).ready(function () {
    //    addEvent(document.getElementById("optionSelected5"), "keyup", whatKey);
    //});

    function myFunction(event) {
        if (event.keyCode == 13) {   // '13' is the key code for enter
            // do what you want to do when 'enter' is pressed :)
            alert("enter angularjs");
        }
    }

    function whatKey(evt) {
        var eventReference = (typeof evt !== "undefined") ? evt : event;
        var keyCode = eventReference.keyCode;
        if (keyCode === 13) {
            alert("La tecla Enter ha sido presionada.");
            // Código para validar el formulario y enviarlo.
        }
        else if (keyCode === 9) {
            alert("Se ha presionado la tecla Tabulador.");
            // Código para, quizás, borrar el campo del formulario.
        }
    }

    function optionSelected_onkeydown(e) {
        var valueOption = $("#optionSelected").val();

        if (e.which == 27) {


            $("#myModal3").modal();
        }
        else {
            if (e.which == 13) {

                switch (valueOption) {
                    case "1":
                        var elemento = document.getElementById("collapseOne");
                        elemento.className = "collapse in";
                        var elemento = document.getElementById("collapseTwo");
                        elemento.className = "collapse";
                        var elemento = document.getElementById("collapseThree");
                        elemento.className = "collapse";
                        var elemento = document.getElementById("collapseFour");
                        elemento.className = "collapse";
                        break;

                    case "171":
                        var url = '@Url.Action("ConfGuiaAuditar_171", "Menu")';
                        window.location.href = url;
                        break;
                    case "172":
                        var url = '@Url.Action("ConfTarimaAudita_172", "Menu")';
                        window.location.href = url;
                        break;
                    case "173":
                        var url = '@Url.Action("AuditoriaInventario_173", "Menu")';
                        window.location.href = url;
                        break;
                    case "174":
                        var url = '@Url.Action("CierreAuditoria_174", "Menu")';
                        window.location.href = url;
                        break;
                    case "175":
                        var url = '@Url.Action("ImprimirAuditoria_175", "Menu")';
                        window.location.href = url;
                        break;

                    case "2":
                        var elemento = document.getElementById("collapseOne");
                        elemento.className = "collapse";
                        var elemento = document.getElementById("collapseTwo");
                        elemento.className = "collapse in";
                        var elemento = document.getElementById("collapseThree");
                        elemento.className = "collapse";
                        var elemento = document.getElementById("collapseFour");
                        elemento.className = "collapse";

                        break;
                    case "3":
                        var elemento = document.getElementById("collapseOne");
                        elemento.className = "collapse";
                        var elemento = document.getElementById("collapseTwo");
                        elemento.className = "collapse";
                        var elemento = document.getElementById("collapseThree");
                        elemento.className = "collapse in";
                        var elemento = document.getElementById("collapseFour");
                        elemento.className = "collapse";

                        break;
                    case "4":
                        var elemento = document.getElementById("collapseOne");
                        elemento.className = "collapse";
                        var elemento = document.getElementById("collapseTwo");
                        elemento.className = "collapse";
                        var elemento = document.getElementById("collapseThree");
                        elemento.className = "collapse";
                        var elemento = document.getElementById("collapseFour");
                        elemento.className = "collapse in";


                        break;
                    default:
                        Console.WriteLine("Default case");
                        break;
                }
            }
        }
    }


    function busquedaApartado() {
        srchApartado
        var _paramBusqueda = $("#ddlSrcApartado").val();
        var _srchApartado = $("#srchApartado").val();
        var _origen = "1";
        //string origen, string paramBusqueda, string valorBusqueda
        $.ajax({
            url: '@Url.Action("Busqueda", "Menu")',
            "type": "POST",
            "cache": false,
            "data":
            {
                "origen": _origen
                , "paramBusqueda": _paramBusqueda
                , "valorBusqueda": _srchApartado
            },
            "dataType": "json",
            "success": function (data) {
                window.location.href = "/BusquedaApartado";
            }

        });
    }

    function busquedaCliente() {
        srchCliente
        var _paramBusqueda = $("#ddlSrcCliente").val();
        var _srchCliente = $("#srchCliente").val();
        var _origen = "2";
        //string origen, string paramBusqueda, string valorBusqueda
        $.ajax({
            url: '@Url.Action("Busqueda", "Menu")',
            "type": "POST",
            "cache": false,
            "data":
            {
                "origen": _origen
                , "paramBusqueda": _paramBusqueda
                , "valorBusqueda": _srchCliente
            },
            "dataType": "json",
            "success": function (data) {
                window.location.href = "/Clientes";
            }

        });
    }
    function busquedaUbicacionAlm() {
        srchApartado
        var _paramBusquedaalm = $("#ddlSrcUbicacionalm").val();
        var _srchUbicacionalm = $("#srchUbicacionalm").val();
        var _origen = "3";
        //string origen, string paramBusqueda, string valorBusqueda
        $.ajax({
            url: '@Url.Action("Busqueda", "Menu")',
            "type": "POST",
            "cache": false,
            "data":
            {
                "origen": _origen
                , "paramBusquedaalm": _paramBusquedaalm
                , "valorBusquedaalm": _srchUbicacionalm
            },
            "dataType": "json",
            "success": function (data) {
                window.location.href = "/Ubicacion";
            }

        });
    }
</script>