
@{
    Layout = "~/Shared/Views/_LayoutLightMenu.cshtml";
}

<!DOCTYPE html>
<style type="text/css">
    /* The ruleset below (empty or otherwise) is required for the bug! */
    /*.holder b {
    }

    .holder ~ span b {
        background: red;
    }

    input[type="text"] {
        font-size: 12px;
        font-family: Consolas;
    }

    .parent-style-one a {
        font-size: 12px;
        font-family: Consolas;
    }

    .parent-style-one input {
        font-size: 12px;
        font-family: Consolas;
    }

    .parent-style-one span {
        font-size: 12px;
        font-family: Consolas;
    }

    .parent-style-one dt {
        font-size: 12px;
        font-family: Consolas;
    }*/
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio_2</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
</head>
<body>

    <div class="parent-style-one">
        @*<div class="row">
            <div class="col-sm-2">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Opcion</span>
                    <input type="text" class="form-control" id="optionSelected" name="optionSelected" value="1" onkeydown="optionSelected_onkeydown(event)" onkeypress="optionSelected_onkeydown(event)" placeholder="Selecciona una opcion" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>*@


        <dl>
            <dt>
                <i>
                    <!-- HTML COMMENT OR ANY ELEMENT -->
                    <span>
                        <span><b>@Html.ActionLink("21.-RECIBIR FOLIO NE", "Inicio_2_1", "Menu")</b></span>
                    </span>
                </i>
            </dt>
            <dt>
                <i>
                    <!-- HTML COMMENT OR ANY ELEMENT -->
                    <span>
                        <span><b>@Html.ActionLink("22.-RECIBIR FOLIO TR", "Inicio_2_2", "Menu")</b></span>
                    </span>
                </i>
            </dt>
            <dt>
                <i>
                    <!-- HTML COMMENT OR ANY ELEMENT -->
                    <span>
                        <span><b>@Html.ActionLink("23.-AUT INCIDENCIAS NE", "Inicio_2_3", "Menu")</b></span>
                    </span>
                </i>
            </dt>
            <dt>
                <i>
                    <!-- HTML COMMENT OR ANY ELEMENT -->
                    <span>
                        <span><b>@Html.ActionLink("24.-AUT. DEVOLUCION", "AutorizaDevolucion", "RegistroDeMercancia")</b></span>
                    </span>
                </i>
            </dt>
            <dt>
                <i>
                    <!-- HTML COMMENT OR ANY ELEMENT -->
                    <span>
                        <span><b>@Html.ActionLink("25.-CAPTURA DEVOLUCION", "CapturaDevolucion", "RegistroDeMercancia")</b></span>
                    </span>
                </i>
            </dt>
            <dt>
                <i>
                    <!-- HTML COMMENT OR ANY ELEMENT -->
                    <span>
                        <span><b>@Html.ActionLink("26.-DATOS DE ENVIO", "DatosDeEnvio", "RegistroDeMercancia")</b></span>
                    </span>
                </i>
            </dt>
            <dt>
                <i>
                    <!-- HTML COMMENT OR ANY ELEMENT -->
                    <span>
                        <span><b>@Html.ActionLink("27.-REV DATOS FACTURA", "RevisaDatosFactura", "RegistroDeMercancia")</b></span>
                    </span>
                </i>
            </dt>
        </dl>

    </div>
    @*@Scripts.Render("~/bundles/jquery")*@
</body>
</html>

<script>

    function optionSelected_onkeydown(e) {
        //var valueOption = $("#optionSelected").val();
        var valueOption = document.getElementById("optionSelected").value;
        var keyCode = e.keyCode ? e.keyCode : e.which;


        switch (keyCode) {

            //atras
            case 37:
                break;
                //adelante
            case 39:
                switch (valueOption) {
                    case "1":
                        var url = '@Url.Action("Inicio", "Menu")';
                        window.location.href = url;
                        break;
                    case "17":
                        var url = '@Url.Action("Inicio_1_7", "Menu")';
                        window.location.href = url;
                        break;

                    case "21":
                        var url = '@Url.Action("Inicio_2_1", "Menu")';
                        window.location.href = url;
                        break;
                    case "22":
                        var url = '@Url.Action("Inicio_2_2", "Menu")';
                        window.location.href = url;
                        break;
                    case "23":
                        var url = '@Url.Action("Inicio_2_3", "Menu")';
                        window.location.href = url;
                        break;
                    case "24":
                        var url = '@Url.Action("AutorizaDevolucion", "RegistroDeMercancia")';
                        window.location.href = url;
                        break;
                    case "25":
                        var url = '@Url.Action("CapturaDevolucion", "RegistroDeMercancia")';
                        window.location.href = url;
                        break;
                    case "26":
                        var url = '@Url.Action("DatosDeEnvio", "RegistroDeMercancia")';
                        window.location.href = url;
                        break;
                    case "27":
                        var url = '@Url.Action("RevisaDatosFactura", "RegistroDeMercancia")';
                        window.location.href = url;
                        break;


                }
                break;
                //enter
            case 13:
                switch (valueOption) {
                    case "1":
                        var url = '@Url.Action("Inicio", "Menu")';
                        window.location.href = url;
                        break;
                    case "17":
                        var url = '@Url.Action("Inicio_1_7", "Menu")';
                        window.location.href = url;
                        break;
                }
                break;
                //esc
            case 27:
                break;
        }
    }

</script>