
@{
    Layout = "~/Shared/Views/_LayoutLightMenu.cshtml";
}

<!DOCTYPE html>
<style type="text/css">
    /* The ruleset below (empty or otherwise) is required for the bug! */
    /*.holder b {
    }

    .holder ~ span b {
        background: red;
    }

    input[type="text"] {
        font-size: 12px;
        font-family: Consolas;
    }

    .parent-style-one a {
        font-size: 12px;
        font-family: Consolas;
    }

    .parent-style-one input {
        font-size: 12px;
        font-family: Consolas;
    }

    .parent-style-one span {
        font-size: 12px;
        font-family: Consolas;
    }

    .parent-style-one dt {
        font-size: 12px;
        font-family: Consolas;
    }*/
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio_2_3</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
</head>
<body>

    <div class="parent-style-one">
        @*<div class="row">
            <div class="col-sm-2">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Opcion</span>
                    <input type="text" class="form-control" id="optionSelected" name="optionSelected" value="1" onkeydown="optionSelected_onkeydown(event)" onkeypress="optionSelected_onkeydown(event)" placeholder="Selecciona una opcion" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>*@


        <dl>
            <dt><i><span><span><b>@Html.ActionLink("231.-Folio Con Incid Por Autorizar", "FolioConIncidPorAutorizar", "AutIncidenciasNE")</b></span></span></i></dt>
            <dt><i><span><span><b>@Html.ActionLink("232.-Detalle De Folio Con Incid", "DetalleDeFolioConIncid", "AutIncidenciasNE")</b></span></span></i></dt>
            <dt><i><span><span><b>@Html.ActionLink("233.-Confirma Detalle Con Incid", "ConfirmaDetalleConIncid", "AutIncidenciasNE")</b></span></span></i></dt>
            <dt><i><span><span><b>@Html.ActionLink("234.-Finaliza Revision De Incid", "FinalizaRevisionDeIncid", "AutIncidenciasNE")</b></span></span></i></dt>
            <dt><i><span><span><b>@Html.ActionLink("235.-Resumen De Incidencias", "ResumenDeIncidencias", "AutIncidenciasNE")</b></span></span></i></dt>
            <dt><i><span><span><b>@Html.ActionLink("236.-Indica Destino Mercancia", "IndicaDestinoMercancia", "AutIncidenciasNE")</b></span></span></i></dt>
            <dt><i><span><span><b>@Html.ActionLink("237.-Confirma Destino Mercancia", "ConfirmaDestinoMercancia", "AutIncidenciasNE")</b></span></span></i></dt>
            <dt><i><span><span><b>@Html.ActionLink("238.-Autoriza Fin Incidencias", "AutorizaFinIncidencias", "AutIncidenciasNE")</b></span></span></i></dt>
            <dt><i><span><span><b>@Html.ActionLink("239.-Confima Codigos Danados", "ConfimaCodigosDanados", "AutIncidenciasNE")</b></span></span></i></dt>

            <dt><i><span><span><b>@Html.ActionLink("2310.-Autoriza Mcia Queda En Tda", "AutorizaMciaQuedaEnTda", "AutIncidenciasNE")</b></span></span></i></dt>
            <dt><i><span><span><b>@Html.ActionLink("2311.-Salida Autorizacion Incid", "SalidaAutorizacionIncid", "AutIncidenciasNE")</b></span></span></i></dt>
            
        </dl>



    </div>
     @*@Scripts.Render("~/bundles/jquery")*@
</body>
</html>

<script>

    function optionSelected_onkeydown(e) {
        // var valueOption = $("#optionSelected").val;
        var valueOption = document.getElementById("optionSelected").value;
        var keyCode = e.keyCode ? e.keyCode : e.which;


        switch (keyCode) {

            //atras
            case 37:
                break;
                //adelante
            case 39:
                switch (valueOption) {
                    case "1":
                        var url = '@Url.Action("Inicio", "Menu")';
                        window.location.href = url;
                        break;
                    case "17":
                        var url = '@Url.Action("Inicio_1_7", "Menu")';
                        window.location.href = url;
                        break;
                }
                break;
                //enter
            case 13:
                switch (valueOption) {
                    case "1":
                        var url = '@Url.Action("Inicio", "Menu")';
                        window.location.href = url;
                        break;
                    case "17":
                        var url = '@Url.Action("Inicio_1_7", "Menu")';
                        window.location.href = url;
                        break;
                }
                break;
                //esc
            case 27:
                break;
        }
    }

</script>