
@{
   Layout = "~/Shared/Views/_LayoutLightMenu.cshtml"; 
}

<!DOCTYPE html>
<style type="text/css">
    /* The ruleset below (empty or otherwise) is required for the bug! */
    /*.holder b {
    }

    .holder ~ span b {
        background: red;
    }

    input[type="text"] {
        font-size: 12px;
        font-family: Consolas;
    }

    .parent-style-one a {
        font-size: 12px;
        font-family: Consolas;
    }

    .parent-style-one input {
        font-size: 12px;
        font-family: Consolas;
    }

    .parent-style-one span{
        font-size: 12px;
        font-family: Consolas;
    }

    .parent-style-one dt{
        font-size: 12px;
        font-family: Consolas;
    }*/
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio_1_7</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
</head>
<body>

    <div class="parent-style-one">
        @*<div class="row">
            <div class="col-sm-2">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Opcion</span>
                    <input type="text" class="form-control" id="optionSelected" name="optionSelected" value="1" onkeydown="optionSelected_onkeydown(event)" onkeypress="optionSelected_onkeydown(event)" placeholder="Selecciona una opcion" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>*@
        <br />
        <dl>
            <dt>

                <i>
                    <!-- HTML COMMENT OR ANY ELEMENT -->
                    <span>
                        <span><b>@Html.ActionLink("171.-CONF GUIA AUDITAR", "ConfGuiaAuditar", "AuditoriaGuia")</b></span>
                    </span>
                </i>

            </dt>
            <dt>

                <i>
                    <!-- HTML COMMENT OR ANY ELEMENT -->
                    <span>
                        <span><b>@Html.ActionLink("172.-CONF TARIMA AUDITA", "ConfTarimaAudita", "AuditoriaGuia")</b></span>
                    </span>
                </i>

            </dt>
            <dt>

                <i>
                    <!--HTML COMMENT OR ANY ELEMENT -->
                    <span>
                        <span><b>@Html.ActionLink("173.-AUDITAR TARIMA", "AuditoriaTarima", "AuditoriaGuia")</b></span>
                    </span>
                </i>
                @*<a href="@Url.Action("AuditoriaTarima", "Menu")" id="lnkNuevoApartado">
                        <span style="color:white;font-size:15px">173.-AUDITAR TARIMA</span>
                    </a>*@

            </dt>
            <dt>

                <i>
                    <!-- HTML COMMENT OR ANY ELEMENT -->
                    <span>
                        <span><b>@Html.ActionLink("174.-CIERRE AUDITORIA", "CierreAuditoria", "AuditoriaGuia")</b></span>
                    </span>
                </i>

            </dt>
            <dt>

                <i>
                    <!-- HTML COMMENT OR ANY ELEMENT -->
                    <span>
                        <span><b>@Html.ActionLink("175.-IMPRIMIR AUDITORIA", "ImprimirAuditoria", "AuditoriaGuia")</b></span>
                    </span>
                </i>

            </dt>
        </dl>
    </div>
     @*@Scripts.Render("~/bundles/jquery")*@
</body>
</html>

<script>

    
</script>