<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    @Styles.Render("~/Content/css")
</head>
<body onload="funReady()">
    <hr class="barra"/>
    <form id="formCerrarEmbarque" action="@Url.Action("CerrarEmbarque", "RegistroSecos")" method="get">
        <div id="Principal" style="display:none">
            <div class="parent-style-one">
                <table>
                    @*<dt><span class="input-group-addon" id="basic-addon1">Opcion</span></dt>
                        <dt><input type="text" class="form-control" id="menuOption" name="menuOption" value="1" onkeydown="menuOption_onkeydown(event)" onkeypress="menuOption_onkeypress(event)" placeholder="Selecciona una opcion" aria-describedby="basic-addon1"></dt>*@
                    <tr><td><span class="input-group-addon" id="basic-addon1">16.-CERRAR EMBARQUE</span></td></tr>
                    <tr>
                        <td><span class="input-group-addon" id="sizing-addon3">CEDIS</span></td>
                        <td><input type="text" value="@TempData["input_CEDIS"]" id="input_CEDIS" name="input_CEDIS" onkeypress="input_CEDIS_onkeypress(event)" class="form-control" placeholder="12344553" aria-describedby="sizing-addon3"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><label id="lbl_DESCEDIS">@TempData["lbl_DESCEDIS"]</label></td>
                    </tr>
                    <tr>
                        <td><span class="input-group-addon" id="sizing-addon3">GUIA / EMB</span></td>
                        <td><input type="text" id="input_GUIA" name="input_GUIA" onkeypress="input_GUIA_onkeypress(event)" class="form-control" placeholder="1293892" aria-describedby="sizing-addon3"></td>
                    </tr>
                    <tr><td  colspan="2"><span class="input-group-addon" id="basic-addon1">GUIA OK?</span></td></tr>
                    <tr><td><span class="input-group-addon" id="basic-addon1">Opción</span></td><td><input type="text" class="form-control" id="optionSelected" name="optionSelected" onkeypress="optionSelected_onkeypress(event)" placeholder="Selecciona una opcion" aria-describedby="basic-addon1"></td></tr>
                    <tr><td><span class="input-group-addon" id="basic-addon1">1.-SI    2.-NO</span></td></tr>
                    <tr><td colspan="2"><label id="messageResult">@TempData["lblResult"]</label></td></tr>

                </table>
            </div>
        </div>

        <div id="Confirma" style="display:none">

            <table>
                @*<dt>***Si cuenta con mercancia dañana, entra a esta pantalla***</dt>*@
                <tr><td colspan="2">CONFIRMACION DE MERCANCIA DANADA Y CIERRE DE EMBARQUE</td></tr>

                <tr>
                    <td><span class="input-group-addon" id="sizing-addon3">FOLIO REC:</span></td>
                    <td><label id="lbl_FOLIOREC">@TempData["lbl_FOLIOREC"]</label></td>
                </tr>
                <tr>
                    <td><span class="input-group-addon" id="sizing-addon3"># TARIMA:</span></td>
                    <td><label id="lbl_TARIMA">@TempData["lbl_TARIMA"]</label></td>
                </tr>
                <tr>
                    <td><span class="input-group-addon" id="sizing-addon3"># TRANSF:</span></td>
                    <td><label id="lbl_TRANSF">@TempData["lbl_TRANSF"]</label></td>
                </tr>
                <tr>
                    <td><span class="input-group-addon" id="sizing-addon3">CODIGO:</span></td>
                    <td><label id="lbl_CODIGO">@TempData["lbl_CODIGO"]</label></td>
                </tr>
                <tr>
                    <td><span class="input-group-addon" id="sizing-addon3">DES:</span></td>
                    <td><label id="lbl_DES">@TempData["lbl_DES"]</label></td>
                </tr>

                <tr>
                    <td><span class="input-group-addon" id="sizing-addon3">CANT:</span></td>
                    <td><input type="text" id="input_CANT" name="input_CANT" onkeypress="input_CANT_onkeypress(event)" class="form-control" placeholder="1293892" aria-describedby="sizing-addon3"></td>
                </tr>
                @*<tr><td colspan="2"><span class="input-group-addon" id="basic-addon1">1-AGREGAR 2-SALIR</span></td></tr>*@

                @*<dt><span class="input-group-addon" id="basic-addon1">Opcion</span></dt>
                    <dt><input type="text" class="form-control" id="optionSelected2" name="optionSelected2"   onkeypress="optionSelected2_onkeypress(event)" placeholder="Selecciona una opcion" aria-describedby="basic-addon1"></dt>
                    <dt>1-AGREGAR 2-SALIR</dt>*@
                @*<tr>
                    <td><span class="input-group-addon" id="sizing-addon3">CONFIRMAR CANTIDAD:</span></td>
                    <td><input type="text" id="input_CONFICANT" name="input_CONFICANT" onkeypress="input_CONFICANT_onkeypress(event)" class="form-control" placeholder="1293892" aria-describedby="sizing-addon3"></td>
                </tr>*@
                <tr><td><span class="input-group-addon" id="basic-addon1">Opción</span></td><td><input type="text" class="form-control" id="optionSelected2" name="optionSelected2" onkeypress="optionSelected2_onkeypress(event)" placeholder="Selecciona una opcion" aria-describedby="basic-addon1"></td></tr>
                <tr><td><span class="input-group-addon" id="basic-addon1">1-AGREGAR 2-SALIR</span></td></tr>
                <tr><td colspan="2"><label id="messageResult">@TempData["lblResult2"]</label></td></tr>


                @*<dt>***Se cicla solicitando las cantidades***</dt>*@

            </table>

        </div>

        <div id="Esc" style="display:none">

            <table>

                @*<tr><td colspan="2"><span class="input-group-addon" id="sizing-addon3">GENERANDO RECLAMACIONES</span></td></tr>*@
                <tr><td colspan="2"><span class="input-group-addon" id="basic-addon1">RECLAMACIONES GENERADAS</span></td></tr>
                <tr><td><input type="text" class="form-control" id="optionSelected3" name="optionSelected3" onkeypress="optionSelected3_onkeypress(event)" placeholder="Selecciona una opcion" aria-describedby="basic-addon1"></td></tr>
                <tr><td><span class="input-group-addon" id="sizing-addon3">1-CONTINUAR</span> </td></tr>
                <tr><td colspan="2"><label id="messageResult">@TempData["lblResult3"]</label></td></tr>

            </table>
        </div>
        <input id="flagMciaDanada" value="@TempData["flagMciaDanada"]" style="visibility:hidden" />
    </form>
    @*@Scripts.Render("~/bundles/jquery")*@

    
    <script>
        //$(document).ready(function () {
        //    if (document.getElementById("flagMciaDanada").value == "Y") {
        //        document.getElementById("optionSelected2").focus();
        //        //$("#optionSelected").val() == ""
        //        var ele = document.getElementById("Confirma");
        //        if (ele.style.display == "block") {
        //            ele.style.display = "none";
        //            document.getElementById("optionSelected2").focus();
        //        }
        //        else {
        //            ele.style.display = "block";

        //        }
        //        var ele = document.getElementById("Principal");
        //        if (ele.style.display == "block") {
        //            ele.style.display = "none";

        //        }
        //        else {
        //            ele.style.display = "block";

        //        }
        //    }
        //    else {

        //    }


        //});

        function funReady() {

            var form = document.getElementById("flagMciaDanada").value;
            if (form != "") {
                var ele = document.getElementById(form);
                if (ele.style.display == "block") {
                    ele.style.display = "none";
                }
                else {
                    ele.style.display = "block";
                }
            }

            switch (form) {
                case "Principal":
                    document.getElementById("input_CEDIS").focus();
                    break;
                case "Confirma":
                    document.getElementById("input_CANT").focus();
                    break;
                case "Esc":
                    document.getElementById("optionSelected3").focus();
                    break;
                default:
                    //document.getElementById("input_CEDIS").focus();
                    break;
            }
            
            if(document.getElementById("input_CEDIS").value !=""){
                document.getElementById("input_GUIA").focus();
            }
        }

        function input_CEDIS_onkeypress(e) {
            var keyCode = e.keyCode ? e.keyCode : e.which;
            switch (keyCode) {
                //enter
                case 13:
                    if (document.getElementById("input_CEDIS").value != "") {
                        document.getElementById("input_GUIA").focus();
                        // $('form').submit();
                        document.getElementById("formCerrarEmbarque").submit();
                    }
                    else {
                        document.getElementById("input_CEDIS").focus();
                    }
                    break;
                    //esc
                case 27:
                    
                    break;
            }
        }

        function input_GUIA_onkeypress(e) {
            var keyCode = e.keyCode ? e.keyCode : e.which;
            switch (keyCode) {
                //enter
                case 13:
                    if (document.getElementById("input_GUIA").value != "") {
                        document.getElementById("optionSelected").focus();
                    }
                    else {
                        document.getElementById("input_GUIA").focus();
                    }
                    break;
                    //esc
                case 27:

                    break;
            }
        }

        function optionSelected_onkeypress(e) {
            //var valueOption = $("#optionSelected").val();
            var keyCode = e.keyCode ? e.keyCode : e.which;

            //alert(keyCode);
            switch (keyCode) {
                //enter
                case 13:
                    var op = document.getElementById("optionSelected").value;
                    switch (op) {
                        case "1":
                            document.getElementById("formCerrarEmbarque").submit();
                            break;
                        case "2":
                            document.getElementById("formCerrarEmbarque").submit();
                            break;
                        default:
                            document.getElementById("optionSelected").focus();
                            break;
                    }
                    
                    //$('form').submit();
                    //switch (valueOption) {
                    //case "1":
                    //    var frm = document.formPrincipal;
                    //    if (frm.style.display == "block") { frm.style.display = "none" }
                    //    else
                    //        if (frm.style.display == "none") { frm.style.display = "block" }



                    //    var frm = document.formModalAudita;
                    //    if (frm.style.display == "none") { frm.style.display = "block" }
                    //    else
                    //        if (frm.style.display == "block") { frm.style.display = "none" }
                    //    break;

                    //}
                    break;
                    //esc
                case 27:
                    document.getElementById("input_GUIA").focus();
                    break;
            }
        }


        function input_CANT_onkeypress(e) {
            var keyCode = e.keyCode ? e.keyCode : e.which;
            switch (keyCode) {
                //enter
                case 13:
                    //document.getElementById("input_GUIA").focus();
                    if ( document.getElementById("input_CANT").value != "") {
                        document.getElementById("optionSelected2").focus();
                    }
                    else {
                        document.getElementById("input_CANT").focus();
                    }
                    break;
                    //esc
                case 27:
                   

                    var ele = document.getElementById("Esc");
                    if (ele.style.display == "block") {
                        ele.style.display = "none";

                    }
                    else {
                        ele.style.display = "block";
                        document.getElementById("optionSelected3").focus();
                    }
                    var ele = document.getElementById("Confirma");
                    if (ele.style.display == "block") {
                        ele.style.display = "none";

                    }
                    else {
                        ele.style.display = "block";

                    }
                    break;
            }
        }


        function optionSelected2_onkeypress(e) {
            var keyCode = e.keyCode ? e.keyCode : e.which;
            switch (keyCode) {
                //enter
                case 13:
                    var op = document.getElementById("optionSelected2").value;
                    switch (op) {
                        case "1":
                            document.getElementById("formCerrarEmbarque").submit();
                            break;
                        case "2":
                            document.getElementById("formCerrarEmbarque").submit();
                            break;
                        default:
                            document.getElementById("optionSelected2").focus();
                            break;
                    }
                    break;
                    //esc
                case 27:
                    
                    break;
            }
        }


        function optionSelected3_onkeypress(e) {
            var keyCode = e.keyCode ? e.keyCode : e.which;
            switch (keyCode) {
                //enter
                case 13:
                    //document.getElementById("input_GUIA").focus();
                    //$('form').submit();
                    var op = document.getElementById("optionSelected3").value;
                    switch (op) {
                        case "1":
                            document.getElementById("formCerrarEmbarque").submit();
                            break;
                        default:
                            document.getElementById("optionSelected3").focus();
                            break;
                    }
                    break;
                    //esc
                case 27:

                    break;
            }
        }
    </script>

</body>
</html>