@model IEnumerable<EDReciboTiendaSoriana.EDReportes.EDRArtRemProxCaducarEtapa>
@{
    ViewBag.Title = "ArtProxCadEtapa";
    Layout = "~/Shared/Views/_Layoutsinmenu.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="row">
        <div class="col-lg-12">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>
                        <a href="@Url.Action("Index", "Menu")" class="btn btn-default btn-circle btn-lg"><i class="fa fa-reply"></i></a> Artículos Próximos a Caducar por Etapa
                    </h2>
                    <div class="panel-body">
                        <div class="input-group-btn ">
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Jefe de Departamento: </label>
                                    @Html.DropDownList("Id_Num_DptoProxCadEtapa", (SelectList)ViewData["ddlSrcJefePrcoCadEtapa"], new { @class = "form-control" })
                                    <span class="label-danger error" style="visibility:collapse">Falta definir el Jefe de Departanmento</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Categoría: </label>
                                   @Html.DropDownList("Id_Categoria", (SelectList)ViewData["ddlSrcCatRemProxCadEtapa"], new { @class = "form-control" })
                                    <span class="label-danger error" style="visibility:collapse">Falta definir Categoría</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Tipo de Vencimiento: </label>
                                    @Html.DropDownList("Id_TipoVencimiento", (SelectList)ViewData["ddlSrcArtRemProxCadEtapa"], new { @class = "form-control" })
                                    <span class="label-danger error" style="visibility:collapse">Falta definir Tipo de Vencimiento</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Fecha: </label>
                                    <div class="input-group date" id="FechaArtProxCadEtapaDate">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        @Html.TextBox("FechaArtProxCadEtapa", null, new { @class = "form-control datepicker", @placeholder = "Fecha Caduca" })
                                    </div>
                                    <span class="label-danger error" style="visibility:collapse">Falta definir la Fecha Folio</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1">
                                <div class="form-group">
                                    <button class="btn btn-warning btn-artproxcadetapa" type="button"><i class="fa fa-binoculars"></i>Buscar </button>                                  
                                </div>
                            </div>                            
                        </div>
                        <div id="container">
                            <div id="divResults">
                                @{Html.RenderPartial("~/Views/Shared/_PartialRptArProxCadEtapa.cshtml", Model);}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Styles {

        @Styles.Render("~/plugins/dataPickerStyles")
    }
    @section Scripts {
        @Scripts.Render("~/plugins/flot")
        @Scripts.Render("~/plugins/chartJs")
        @Scripts.Render("~/plugins/peity")
        @Scripts.Render("~/plugins/dataTables")
        @Scripts.Render("~/plugins/dataPicker")
        @Scripts.Render("~/plugins/slimScroll")
        @Scripts.Render("~/Scripts/RepArtProxCadEtapa")
    }

</div>
